<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
		<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<% include ../partials/navbar %>
		<% include ../partials/flash-messages %>
		<%- body -%>
	</body>
</html>