<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/post-show.css">
	<link rel="stylesheet" href="/stylesheets/starability-basic.min.css">
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
</head>
<body>
	<% include ../partials/navbar %>
	<% include ../partials/flash-messages %>
	<%- body -%>
	<script>
		var post = <%- JSON.stringify(post) %>;
	</script>
	<script src="/javascripts/post-show.js"></script>
</body>
</html>